.return-top {
    padding: $spacing-s 0 $spacing-xl;
    @media screen and (max-width: $break-s) {
        padding: $spacing-s--mob 0 $spacing-xl--mob;
    }
    svg {
        cursor: pointer;
        max-width: 60px;
        &:hover {
            #Oval {
                transition: .3s;
                fill: $col-brown-hover;
            }
            g#left-arrow {
                stroke: #250f0221; 
                transition: .3s;
            }
        }
    }
}

.pre-footer {
    background: #fff;
    padding: $spacing-s 0;
    span {
        background: $col-brown;
        display: block;
        height: 33px;
        width: 1px;
        margin: 0 20px;
    }
    .single-image {
        padding: 0 $spacing-xs;
        img {
            max-width: 45px;
            height: auto;
            opacity: 1;
            transition: .3s;
            &:hover {
                opacity: .8;
            }
        }
    }
}

.block-divider {
    @extend .container;
    svg {
        margin: 0 10px;
        &:nth-child(1), &:nth-child(3) {
            max-height: 40px;
            width: auto;
        }
    }
    .divider {
        width: 100%;
        height: 1px;
        background: $col-brown;
        display: block;
    }
}
@media screen and (min-width: $break-s) {
    .swiper-no-nav .navigation {
        display: none;
    }
}

.navigation {
    z-index: 9;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    margin-bottom: 19vh;
    margin-top: -19vh;
    position: absolute;
    .swiper-prev, .swiper-next {
        cursor: pointer;
    }
}

.breadcrumb {
    font-weight: $Regular;
    font-size: 14px;
    .current {
        font-weight: $Bold;
    }
}

.price {
    text-align: center;
    font-weight: $Regular;
    @extend .title-s;
}


.category-related {
    padding: 0 0 $spacing-xxl;
    background-color: $col-grey-light;
    @media screen and (max-width: $break-s) {
        padding: $spacing-l 0;
    }

    .cont-related-cat {
     
        height: 360px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: $radius;
        top: 0;
        transition: .6s;
        position: relative;

        @media screen and (max-width: $break-s) {
            height: 250px;
        }
        &:before {
            content: '';
            height: 360px;
            width: 100%;
            @extend .container-l;
            display: block;
            position: absolute;
            @extend .gradient-dark;
            padding: 0;
            border-radius: $radius;
            max-width: 1100px;
            @media screen and (max-width: $break-m) {
                // position: relative;
                height: 250px;
                width: 100%;
            }
        }
        .cont-text {
            position: absolute;
            padding: 0 $spacing-l;
            position: relative;
            left: 0;
            transition: .5s;
            @media screen and (max-width: $break-s){
                padding: 0 $spacing-l--mob;
                position: relative;
            }
            p, .title-xxl, .title-xs {
                color: #fff;
                z-index: 99;
            }
        }
        &:hover {
            .cont-text {
                left: 15px;
            }
        }
    }
    @media screen and (max-width: $break-tab){
        .navigation {
            display: none;
        }
    }
}