
@media print {
  
    header {
        display: none;
    }
    footer {
        display: none;
    }
#body {
    padding: 0;
    .single--product {
        .single__head {
            &.columns .column {
                width: 100%;
                height: auto;
            }
            .slide--prodotto {
                max-width: 100%;
                width: 400px!important;
                img {
                    max-width: 400px!important;
                    height: auto;
                }
            }
            &-buttons {
                display: none;
            }
        }
        .sec__carousel {
            .swiper-wrapper {
                flex-wrap: wrap;
                figure {
                    margin: 10px!important;
                    img {
                        height: 150px;
                    }
                }
            }
        }
        .single__personalizzazioni .container-l {
            margin-top: 0;
        }
        .title-xxl {
            font-size: 3rem;
            line-height: 3.4rem;
        }
        .spacing {
            &-xxl {
                height: 20px;
            }
            &-xl {
                height: 20px;
            }
            &-l {
                height: 15px;
            }
            &-m {
                height: 10px;
            }
            &-s {
                height: 5px;
            }
            &-xs {
                height: 5px;
            }
        }
    }
}

  
}