// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$Font: 'Quasimoda', sans-serif;

/// Font weight
$Light: 300;
$Regular: 500;
$Demi: 500;
$Semibold: 700;
$Bold: 800;

$col-text: #333;
$col-brown: #250F02;
$col-grey-light: #f9f9f9;
$col-brown-hover: #250f0280;

$text-color: $col-text;
$brand-color: $col-brown;

$gradientlight: linear-gradient(270deg, rgba(76,34,5,0.00) 0%, $col-brown 100%);
$gradientdark: linear-gradient(180deg, rgba(37,15,2,0.58) 0%, rgba(37,15,2,0.69) 100%);

$radius: 5px;
$shadow: 5px 5px 10px 0 rgba(135,135,135,0.50);
/// Breakpoints
// @media (max-width: $break-xs) { ... }
$break-xs: 599px;
$break-s: 767px;
$break-tab: 769px;
$break-m: 1024px;
$break-l: 1200px;
$break-pc: 1400px;
$break-xl: 1800px;


/// Spacing
$spacing-xxs: .8rem;
$spacing-xs: 1.5rem;
$spacing-s: 2.5rem;
$spacing-m: 4rem;
$spacing-l: 7rem;
$spacing-xl: 11rem;
$spacing-xxl: 14rem;
$spacing-xxxl: 18rem;

$spacing-xxs--mob: $spacing-xxs/3;
$spacing-xs--mob: $spacing-xs/3;
$spacing-s--mob: $spacing-s/3;
$spacing-m--mob: $spacing-m/3;
$spacing-l--mob: $spacing-l/3;
$spacing-xl--mob: $spacing-xl/3;
$spacing-xxl--mob: $spacing-xxl/3;

/// Containers
$container-xs: 540px;
$container-s: 720px;
$container-m: 960px;
$container-l: 1140px;
$container-xl: 1600px;

$max-width: $container-m;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../images/' !default;


