#body {
    //quantity
    &.woocommerce-page {
        //pagine carrello - checkout - account
        .button {
            @extend .btn-big;
            background-color: $col-brown;
            font-size: 21px;
            font-weight: $Demi;
            display: block;
            &:hover {
                background: $col-brown-hover;
            }
            @media screen and (max-width: $break-tab) {
                &.single_add_to_cart_button {
                    padding: 0;
                    width: 100%;
                    max-width: 350px;
                    margin: $spacing-s auto;
                    span {
                        padding: $spacing-s--mob $spacing-s ;
                    }
                    svg {
                        margin: auto;
                    }
                }
            }
            @media screen and (max-width: $break-s) {
                padding: 0;

                &.single_add_to_cart_button {
                    span {
                        padding: 0;
                    } 
                } 
            }
        }
        .woocommerce-notices-wrapper {
            max-width: 600px;
            margin: $spacing-m auto;
            display: block;
        }
        .variations_form {
            td.label, label {
                display: block;
                font-size: 18px;
                width: 100%;
                font-weight: $Bold;
            }
            td.value {
                display: block;
            }
            select, input[type="number"] {
                background: #fff;
                height: 58px;
                border: solid 1px $col-brown;
                border-radius: $radius;
                padding: 0 $spacing-xs;
                margin-bottom: $spacing-xs;
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;
            }
            .reset_variations {
                display: none;
            }
        }

        &.woo-panels {
            .content_page {
                max-width: 1000px;
                margin: 50px auto;
            }
            //carrello
            &.woocommerce-cart {
                td.product-thumbnail img {
                    max-width: 80px;
                    height: auto;
                }
                @media screen and (max-width: $break-s) {
                    .woocommerce-cart-form {
                        padding: 0 $spacing-s;
                        background: #f7f7f7;
                        img {
                            margin: auto;
                        }
                        .product-remove {
                            &:before {
                                content: none;
                            }
                            a {
                                margin: auto;
                                display: block;
                                text-align: center;
                            }
                        }
                        .product-thumbnail:before {
                            content: none;
                        }
                        .button {
                            display: block;
                            padding: 5px 25px;
                            margin: 10px auto;
                        }
                    }
                }
                table {
                    //thead {}
                    margin: auto;
                    border-collapse: collapse;
                    border-spacing: $spacing-s;
                    width: 100%;
                    @extend .container;
                    thead {
                        th {
                            text-transform: uppercase;
                            padding: $spacing-xs 0;
                            text-align: left;
                        }
                    }
                    tbody {
                        tr {
                
                            &.cart_item {
                                &:nth-child(2n-1) {
                                    background: #f7f7f7;
                                }
                            }
                            td {
                                padding: $spacing-xs 0;
                                font-weight: $Regular;
                                font-size: 18px;
                                &.actions {
                                    .coupon {
                                        float: left;
                                        @media screen and (max-width: $break-s) {
                                            float: none;
                                        }
                                    }
                                    .button {
                                        float: right;
                                        @media screen and (max-width: $break-s) {
                                            float: none;
                                        }
                                    }
                                }
                            }
                            .product-remove {
                                padding: 0 $spacing-xs 0 $spacing-m;
                                width: auto;
                                a {
                                    font-size: 30px;
                                    
                                }
                            }
                        }
                    }
                }
                input#coupon_code {
                    background: #f7f7f7;
                    height: 60px;
                    padding: 0 $spacing-xs;
                }
            }
            &.woocommerce-checkout {
                .woocommerce {
                    @extend .container;
                }
                input.input-text {
                    background: $col-grey-light;
                    width: 100%;
                    margin: 5px 0;
                    outline: none;
                    padding: 0 $spacing-xs;
                    height: 52px;
                }
                textarea {
                    width: 100%;
                    outline: none;
                    border: solid 1px $col-brown;
                    border-radius: $radius;
                    padding: 0 $spacing-xs;
                }
                .select2-selection {
                    height: auto;
                    border: none;
                }
                .select2-selection__rendered {
                    background: $col-grey-light;
                    border: none;
                    height: 40px;
                }
                p {
                    margin: $spacing-xs 0;
                }
                label {
                    font-weight: $Regular;
                    font-size: 18px;
                }
                .shop_table {
                    text-align: left;
                    td {
                        margin: 0 $spacing-s;
                    }
                }
            }
            &.woocommerce-account {
                .woocommerce {
                    @extend .container-l;
                    min-height: 60vh;
                    ul {
                        padding: 0;
                        li {
                            background: $col-brown;
                            width: auto;
                            margin: 5px 0;
                            padding: $spacing-xs;
                            max-width: 250px;
                            border-radius: $radius;
                            a {
                                color: #fff!important;
                                font-size: 20px;
                                font-weight: $Bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .cart-collaterals {
                background-color: #f7f7f7;
                margin-top: 80px;
                .cart_totals {
                    padding: 40px;
                    max-width: 600px;
                    margin: 0 auto;
                    th, td {
                        padding: $spacing-xs;
                    }
                    h2 {
                        text-align: center;
                        margin-bottom: 40px;
                    }
                    table {
                        width: auto;
                        margin: 0 auto;
                        thead {}
                        tbody {
                            tr {
                                th {
                                    text-align: right;
                                }
                            }
                        }
                    }
                    .wc-proceed-to-checkout {
                        text-align: center;
                        .button {
                            @extend .btn-big;
                        }
                    }
                }
            }
            // end carrello
        }
        // END pagine carrello - checkout - account
        // pagine shop - single product
        &.woocommerce {}
        // END pagine shop - single product
        @media screen and (max-width:768px) {
            table {
                thead {
                    display: none;
                }
                tr td {
                    display: block;
                    text-align: right;
                    &::before {
                        // content: attr(data-title) ": ";
                        // font-weight: 700;
                        // float: left;
                    }
                }
            }
        }
        // < 769px
    }
    // woocommerce-page
}


// .cart-contents-count {
//     border-radius: 10px;
//     padding: 1px 6px;
//     line-height: 1;
//     vertical-align: top;
// }
// body