.block-animation {
    opacity: 0;
    transition: .8s;
    position: relative;
    top: 0;
    &.active {
        opacity: 1;
        top: -60px;
        @media screen and (max-width: $break-s) {
            top: -30px;
        }
    }
}
.img-left, .img-right {
    opacity: 0;
    transition: .8s;
    &.active {
        opacity: 1;
    }
}


.block-animation.single-cat:nth-of-type(1) {
    opacity: 1;
}

body {
    .head-category {
        h1 {
            opacity: 0;
            transition: 1.2s;
            transform: scale(.8);
        }
    }
    &.loaded {
        h1 {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@media screen and (max-width: $break-tab) {
    .parallax-animation1, .parallax-animation2, .parallax-animation3 {
        transform: rotate(0)!important;
    }
}

.block-animation.block-cat:nth-child(1) {
    opacity: 1;
    @media screen and (max-width: $break-tab) {
        .img-left, .img-right {
            opacity: 1;
        }
    } 
}