
.gradient-light {
    background-image: $gradientlight;
}
.gradient-dark {
    background-image: $gradientdark;
}
.shadow {
    box-shadow: $shadow;
}

.bg-brown {
    background-color: $col-brown;
}

.bg-grey-light {
    background-color: $col-grey-light;
}