// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.footer {
    background: $col-brown;
    padding: $spacing-m 0;
    @media screen and (max-width: $break-s) {
      margin-bottom: 70px;
    }
    .title-s, p {
        color: #fff;
    }
    a {
        opacity: 1;
        transition: .3s;
        &:hover {
            opacity: .8;
        }
    }
    .title-s {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 16px;
        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background: #fff;
            display: block;
            opacity: .45;
            margin: $spacing-xs 0 $spacing-s;
        }
    }
    ul.menu {
        padding: 0;
        column-count: 2;
        li {
            a {
                color: #fff;
                font-size: 15px;
                font-weight: $Regular;
                opacity: 1;
                transition: .3s;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    p {
        font-size: 15px;
        font-weight: $Regular;
    }
    @media screen and (max-width: $break-s) {
        .col-3 {
            width: 100%;
            justify-content: inherit;
        }
    }
}