
//container
#body {
    overflow-x: hidden;
}
.container-xxxl {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width: $break-m) {
        max-width: 100%;
        padding: 0 20px;
    }

    .columns {
        width: 100%;
    }
}

.container-xxl {
   max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width: $break-m) {
        max-width: 100%;
        padding: 0 20px;
    }
}
// used
.container,
.container-xl {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width: $break-m) {
        max-width: 100%;
        padding: 0 20px;
    }
    @media screen and (max-width: $break-s) {
        padding: 0 $spacing-m--mob;
    }
}
.container-l {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (max-width: $break-m) {
        max-width: 100%;
        padding: 0 $spacing-m--mob;
    }
}

.container-m {
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    @media screen and (max-width: $break-s) {
        max-width: 100%;
        padding: 0 20px;
    }
}
.container-s {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @media screen and (max-width: $break-s) {
        max-width: 100%;
        padding: 0 20px;
    }
}
.container-xs {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
 //   padding: 0 20px;
    box-sizing: border-box;
    @media screen and (max-width: $break-s) {
        max-width: 100%;
        padding: 0 $spacing-xs--mob;
    }
}
.container-xxs {
    max-width: 330px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    @media screen and (max-width: $break-s) {
        max-width: 100%;
        padding: 0 20px;
    }
}
.cont-600 {
    max-width: 600px;
    margin: auto;
    @media screen and (max-width: $break-s) {
        max-width: 100%;
        padding: 0 20px;
    }
}
.cont-550 {
    max-width: 550px;
    margin: auto;
    @media screen and (max-width: $break-s) {
        max-width: 100%;
        padding: 0 10px;
    }
}
.cont-470 {
    max-width: 470px;
    margin: auto;
    @media screen and (max-width: $break-s) {
        max-width: 100%;
        padding: 0 10px;
    }
}
.col-7 {
    width: calc(100% / 7);
    @media screen and (max-width: $break-s) {
        width: 100%;
    }
   
}
//columns
.columns {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    .wp-block-column {
        width: 50%;
        padding: 0 20px;
        margin: 0;
        box-sizing: border-box;
        .container-m {
            padding: 0;
        }
        @media screen and (max-width: $break-s) {
            width: 100%;
            padding: 0 20px;
            margin: 20px 0;
            //padding: 0 60px;
        }
    }
    @media screen and (max-width: $break-s) {
        flex-wrap: wrap;
        &.columns-2-s {
            .wp-block-column {
                width: 50%;
                flex-basis: inherit;

            }
        }
    }
    
 
    .column {
        padding: 0 20px;
        box-sizing: border-box;
        flex-wrap: wrap;
        &.col-wide {
            padding: 0;
        }
        &.col-1 {
            width: calc(100%/12);
        }
        &.col-2 {
            width: calc(100%/12*2);
        }
        &.col-3 {
            width: calc(100%/12*3);
        }
        &.col-4 {
            width: calc(100%/12*4);
        }
        &.col-5 {
            width: calc(100%/12*5);
        }
        &.col-6 {
            width: calc(100%/12*6);
        }
        &.col-7 {
            width: calc(100%/12*7);
        }
        &.col-8 {
            width: calc(100%/12*8);
        }
        &.col-9 {
            width: calc(100%/12*9);
        }
        &.col-10 {
            width: calc(100%/12*10);
        }
        &.col-11 {
            width: calc(100%/12*11);
        }
        &.col-12 {
            width: 100%;
        }
        @media screen and (max-width: $break-m) {
            width: 100%;
            padding: 0 30px;
            &.col-1,
            &.col-2,
            &.col-3,
            &.col-4,
            &.col-5,
            &.col-6,
            &.col-7,
            &.col-8,
            &.col-9,
            &.col-10,
            &.col-11,
            &.col-12 {
                padding: 0 30px;
            }
        }
        @media screen and (max-width: $break-s) {
            width: 100%;
            padding: 0 20px;
            &.col-1,
            &.col-2,
            &.col-3,
            &.col-4,
            &.col-5,
            &.col-6,
            &.col-7,
            &.col-8,
            &.col-9,
            &.col-10,
            &.col-11,
            &.col-12 {
                width: 100%;
                padding: 0 20px;
            }
            &.col-6-s {
                width: calc(100%/12*6);
            }
        }
    }
    //column
}


#body .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.col-3 {
    width: calc(100% / 3);
}
.col-50 {
    width: calc(100% / 2);
    @media screen and (max-width: $break-s) {
        width: 100%;
    }
}