header.header {
    margin: $spacing-s $spacing-l;
    .logo {
        opacity: 1;
        transition: .3s;
        &:hover {
            opacity: .8;
        }
    }
    .header__menu {
        display: flex;
        align-items: center;

        ul.menu {
            display: flex;
    
            li {
                margin: 0 $spacing-s;
                a {
                    @extend .font-menu;
                    &:after {
                        content: '';
                        width: 0;
                        position: relative;
                        height: 3px;
                        background-color: $col-brown;
                        display: block;
                        transition: .4s;
                        margin-top: -10px;
                    }
                    &:hover:after {
                        width: 100%;
                    }
                }
            }
        }
    }
    .header__pll {
        font-size: 18px;
        font-weight: $Bold;
        text-align: center; 
        display: flex;
        align-items: center;
        .menu_cart {
            margin: 0 $spacing-m 0 0;
            // line-height: 10px;
            li {
                list-style: none;
            }
            a {
                font-weight: $Regular;
                font-size: 17px;
            }
            .cart-contents-count {
                background: $col-brown;
                border-radius: 100%;
                color: #fff;
                font-size: 12px;
                top: -8px;
                position: relative;
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s;
            }
       
            &:hover {
                .cart-contents-count {
                    opacity: .8;
                }
            }
        }
        .current {
            border-bottom: solid 1px $col-brown;
        }
        .menu_pll {
            background: transparent;
            #current {
          
            }
            li {
                background: transparent;
            }
            a {
                opacity: .60;
                transition: .3s;
                &:hover {
                    opacity: 1;  
                }
            }
          
        }
        div {
            margin: auto;
        }
        ul {
            padding: 0;
            li a {
                font-size: 18px;
                font-weight: $Bold;
            }
        }
    }
}


header.mobile {
    .hamb {
        span {
            width: 28px;
            height: 3px;
            background: $col-brown;
            display: block;
            margin-top: 6px;
        }
    }
    .menu-cont {
        display: none;
    }
    &.open {
        .menu-cont {
            display: block;
        }
    }
}

// tabelt header 
@media screen and (max-width: $break-m) {
    header.mobile {
        margin: 15px $spacing-s;
        .header__container {
            &>div {
                // width: 33.33%;
            }
            .header__pll {
                
                div {
                    // margin: 0;
                }
            }
        }
        &.open {
            .menu-cont {
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                top: 120px;
                height: 500px;
                background: #fff;
                opacity: 1;
                z-index: 99;
                .menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li {
                        padding: $spacing-xs 0;
                    }
                }
            }
        }
    }
}

/// mobile header

@media screen and (max-width: $break-tab) {
    #body {
        header.mobile {
            position: fixed;
            background: #fff;
            top: 0;
            z-index: 999;
            margin: 0;
            width: 100%;
            padding: 0 $spacing-s;
            max-width: 100vw;
            .header__pll {
                width: 100%;
                justify-content: space-between;
                &>div {
                    margin: 0;
                }
                div {
                    margin: 0;
                }
            }
            .header__pll .menu_cart {
                margin: 0 $spacing-s--mob 0 0;
            }
            .logo {
                svg {
                    max-width: 140px;
             
                }
            }
            &.open {
                .menu-cont {
                    top: 69px;
                    max-width: 100vw;
                    background: transparent;
                    background-size: cover;
                    background-repeat: no-repeat;
                    position: fixed;
                    height: calc(100vh - 69px);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    &:before {
                        content: '';
                        background-image: linear-gradient(180deg, rgba(37,15,2,0.58) 0%, rgba(37,15,2,0.69) 100%);
                        display: block;
                        height: calc(100vh - 69px);
                        width: 100%;
                        position: absolute;
                    }
                    .title-xxl {
                        z-index: 999;
                        color: #fff;
                        max-width: 235px;
                        margin: $spacing-xxl--mob auto $spacing-s--mob;
                        opacity: 1;
                    }
                    .menu {
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding: 0 $spacing-m--mob;
                        li {
       
                            width: 50%;
                            margin: 0;
                            padding: $spacing-s--mob $spacing-s--mob;
                            opacity: 1;
                            z-index: 99;
                            &:last-child {
                                width: 100%;
                            }
                            a {
                                background: #fff;
                                text-align: center;
                                margin: auto;
                                display: block;
                                border-radius: $radius;
                                padding: $spacing-l--mob 0;
                                &:after {
                                    content: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        .head-category {
            height: 250px;
            // &:before {
            //     height: 500px;  
            // }
        }
    }
}

@media screen and (max-width: $break-s) {
    #body header.mobile {
        bottom: 0;
        top: auto;
        width: 100%;
        &.open {
            .menu-cont {
                bottom: 69px;
                top: auto;
                .menu li a {
                    padding: 15px 0px;
                }
            }
        }
       
    }
}