


.spacing-xxs {
    height: $spacing-xxs;
    clear: both;
    width: 100%;
    &--nega {
        margin-top: - $spacing-xxs;
    }
    @media screen and (max-width: $break-s) {
        height: $spacing-xxs--mob;
    }
}

.spacing-xs {
    height: $spacing-xs;
    clear: both;
    width: 100%;
    &--nega {
        margin-top: - $spacing-xs;
    }
    @media screen and (max-width: $break-s) {
        height: $spacing-xs--mob;
    }
}

.spacing-s {
    height: $spacing-s;
    clear: both;
    width: 100%;
    &--nega {
        margin-top: - $spacing-s;
    }
    @media screen and (max-width: $break-s) {
        height: $spacing-s--mob;
    }
}

.spacing-m {
    height: $spacing-m;
    clear: both;
    width: 100%;
    @media screen and (max-width: $break-s) {
        height: $spacing-m--mob;
    }
}

.spacing-l {
    height: $spacing-l;
    clear: both;
    width: 100%;
    &--nega {
        margin-top: - $spacing-l;
    }
    @media screen and (max-width: $break-s) {
        height: $spacing-l--mob;
    }
}

.spacing-xl {
    height: $spacing-xl;
    clear: both;
    width: 100%;
    &--nega {
        margin-top: - $spacing-xl;
    }
    @media screen and (max-width: $break-s) {
        height: $spacing-xl--mob;
    }
}

.spacing-xxl {
    height: $spacing-xxl;
    clear: both;
    width: 100%;
    &--nega {
        margin-top: - $spacing-xxl;
    }
    @media screen and (max-width: $break-s) {
        height: $spacing-xxl--mob;
    }
}

