#body {
    .head-category {
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        min-height: 29vw;
        @media screen and (max-width: $break-m){
            min-height: 400px;
        }
        @media screen and (max-width: $break-s){
            min-height: 250px;
        }
        &:before {
            content: '';
            width: 100%;
            display: block;
            position: absolute;
            @extend .gradient-dark;
            height: 29vw;
            @media screen and (max-width: $break-m){
                height: 400px;
            }
            @media screen and (max-width: $break-s){
                height: 250px;
            }
        }
        h1 {
            @extend .title-xxl;
            color: #fff;
            z-index: 9;
            @media screen and (max-width: $break-m){
               max-width: 235px;
               margin: auto;
               display: block;
               text-align: center;
            }
        }
    }
    &.archive, &.home {
        .content-archive {
            background-color: $col_grey_light;
            padding: $spacing-l 0 $spacing-xxl;
            @media screen and (max-width: $break-s){
                padding: $spacing-s--mob 0;
            }
            .img-left {
                position: absolute;
                margin-top: 1vh;
                left: 5%;
         
                @media screen and (max-width: $break-tab){
                    max-width: 50px;
                    left: 1%;
                    margin-top: 30px;
                }
            }
            .img-right {
                position: absolute;
                right: 5%;
                margin-top: 4vh;
           
                @media screen and (max-width: $break-tab){
                    max-width: 55px;
                    margin-top: 55px;
                    right: 5%;
                }
                @media screen and (max-width: $break-s){
                    right: 0;
                }
            }
            .single-cat {
                padding: $spacing-m 0 0;
                .title-xxl, .title-xs {
                    text-align: center;
                }
                &:nth-child(1) {
                    opacity: 1;
                }
            }
            .cont-tit {
                margin: $spacing-l 0 $spacing-l;
                @media screen and (max-width: $break-s){
                    margin: $spacing-l 0 $spacing-xs;
                }
            }
            .bg-products {
                display: flex;
                @media screen and (max-width: $break-tab){
                    flex-wrap: wrap;
                }
                .btn-add-to-cart {
                    opacity: 0;
                    transition: .3s;
                    .variations, .single_variation_wrap .quantity, .quantity {
                        display: none;
                    }
                    .single_add_to_cart_button {
                        @extend .btn-big;
                        background: $col-brown;
                        margin: $spacing-xs auto;
                        display: block;
                        font-size: 20px;
                        transition: .3s;
                        &:hover {
                            background: $col-brown-hover;

                        }
                            svg {
                                display: none;
                            }

                        @media screen and (max-width: $break-s){
                            font-size: 16px;
                            padding: 2px 8px;
                        }
                    }
                    @media screen and (max-width: $break-s){
                        opacity: 1;
                    }
                }
                .box-single-prod {
                    width: 25%;
                    @media screen and (max-width: $break-m){
                        width: 33.33%;
                    }
                    @media screen and (max-width: $break-s){
                        width: 50%;
                    }
                    .single-prod {
                        padding: 0 $spacing-l--mob;
                    }
                    img {
                        margin: auto;
                        height: auto;
                        transition: 1s;
                        padding-top: $spacing-xs;
                        @media screen and (max-width: $break-s){
                            padding: 0;
                        }
                    }
                    .title-l {
                        text-transform: uppercase;
                        font-weight: $Bold;
                        text-align: center;
                        padding: $spacing-s 0;
                        @media screen and (max-width: $break-s){
                            font-weight: $Regular;
                            font-size: 17px;
                            padding: $spacing-l--mob 0 0;
                            line-height: 20px;
                        }
                    }
                    &:hover {
                        .btn-add-to-cart {
                            opacity: 1;
                        }
                    }
                    @media screen and (max-width: $break-s){
                        margin: $spacing-s 0;
                    }
                    transition: .6s;
                    &:hover {
                        img {
                            transform: scale(1.07);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $break-s){
    .prod-mobile {
        .navigation {
            display: none;
        }
    }
}