.error404 {
    main {
        @extend .container-l;
        min-height: 60vh;
        display: flex;
        align-items: center;
        #page_404 {
            margin: auto;
        }
    }
    h1 {
        // text-align: center;
    }
}

.page-main.termini {
    margin-bottom: $spacing-xl;
    min-height: 70vh;
    h2 {
        text-transform: initial;
        margin-bottom: $spacing-s;
    }
    .nav {
        font-weight: $Bold;
        min-width: 300px;
        &>div {
            margin: $spacing-xs 0 $spacing-s;
            cursor: pointer;
        }

    }
    .block-text {
        display: none;
        &.open {
            display: block;
        }
    }
    .container-l.mobile {
        padding: 0 $spacing-m;
    }
    .block-terms-mobile {
        .full-text {
            display: none;
        }
        .excerpt {
            display: block;
        }
        &.open {
            .full-text {
                display: block;
            }
            .excerpt {
                display: none;
            }
        }
        .discover {
            display: flex;
            justify-content: flex-end;
            svg {
                margin: 0 $spacing-s $spacing-s  0;
                @media screen and (max-width: $break-s) {
                    margin: $spacing-xs $spacing-s $spacing-xs  0; 
                }
            }
        }
    }
    @media screen and (max-width: $break-tab) {
        .flex {
            flex-wrap: wrap;
        }
        .nav {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
        }
    }
    @media screen and (max-width: $break-s) {
        .container-l.mobile {
            margin: $spacing-m 0;
            padding: 0 $spacing-s;
        }
        .nav {
            display: none;
        }
        .block-text {
            display: block;
        }
    }
}