
.single {    
    .content-single-product {
        background: $col_grey_light;
        .cont-prod {
            .flex {
                @media screen and (max-width: $break-tab) {
                    flex-wrap: wrap;
                    max-width: 75%;
                    margin: auto;
                    .col-50 {
                        width: 100%;
                    }
                }
                @media screen and (max-width: $break-tab) {
                    max-width: 100%;
                    padding: 0 $spacing-xs;
                    text-align: center;
                    .price {
                        justify-content: center;
                    }
                } 
            }
            img {
                @media screen and (max-width: $break-tab) {
                    margin: auto;
                }
            }
            p {
                max-width: 560px;
                @media screen and (max-width: $break-tab) {
                    margin: auto;
                }
                @media screen and (max-width: $break-s) {
                    max-width: 360px;
                    margin: auto;
                }
            }
            .variations {
                @media screen and (max-width: $break-tab) {
                    width: 100%;
                    td.label {
                        text-align: center!important;
                    }
                    select {
                        width: 100%;
                        max-width: 350px;
                        margin: auto;
                        display: block;
                    }

                }
            }
            .quantity {
                label {
                    // display: none;
                }
                @media screen and (max-width: $break-tab) {
                    label {
                        text-align: center;
                    }
                    input{
                        width: 100%;
                        max-width: 350px;
                        margin: auto;
                        display: block;
                    }
                }
            }
            .link-shipping-condition {
                @media screen and (max-width: $break-tab) {
                    .flex .col-50 .flex {
                        justify-content: center;
                    }   
                }
                svg {
                    margin-right: $spacing-xs;
                }
                .title-xs {
                    letter-spacing: 0;
                    line-height: 20px;
                    opacity: 0.83;
                    max-width: 190px;
                }
            }
            .button {
                display: flex!important;
                margin-top: $spacing-xs;
                span {
                    padding-right: $spacing-xl;
                }
                &:hover {
                    
                }
            }
            .price {
                font-size: 34px;
                font-weight: $Bold;
                color: $col-brown;
                opacity: 1;
                text-align: left;
                @media screen and (max-width: $break-tab) {
                    text-align: center;
                    padding: $spacing-xs 0;
                }
            }
        }
    }
    .single-note {
        margin: $spacing-xs 0;
        padding: $spacing-xs 0;
        border-bottom: solid 1px #97979736;
        margin-right: $spacing-l;
        display: flex;
        @media screen and (max-width: $break-tab) {
            margin-right: 0;
        }
        .numb {
            display: flex;
            align-items: center;
        }
        p {
            width: 100px;
        }
        .title-l {
            padding-right: $spacing-s;
            width: 180px;
        }
        @media screen and (max-width: $break-tab) {
            .title-l {
                width: auto;
                padding-right: $spacing-s;
            }
        }
        .interval {
   
            display: flex;
            span {
                height: 20px;
                width: 20px;
                background: $col-brown;
                opacity: .22;
                display: block;
                border-radius: 100%;
                margin: 0 $spacing-xs 0 0;
            }
            &.active {
                opacity: 1;
            }
     
            
        }
        .number {
            &-1 {
                span:nth-child(1) {
                    opacity: 1;
                }
            }
            &-2 {
                span:nth-child(-n+2) {
                    opacity: 1;
                }
            }
            &-3 {
                span:nth-child(-n+3) {
                    opacity: 1;
                }
            }
            &-4 {
                span:nth-child(-n+4) {
                    opacity: 1;
                }
            }
            &-5 {
                span:nth-child(-n+5) {
                    opacity: 1;
                }
            }
            &-6 {
                span {
                    opacity: 1;
                }
            }
        }
    }
    .social {
        img {
            margin: 0 10px;
        }
    }
    .svg-dec {
        svg {
            margin-bottom: -8vh;
            left: 10%;
            margin-top: 1vh;
            @media screen and (max-width: $break-tab) {
                max-width: 60px;
                margin: 0;
                left: 0;
            }
        }
        &.svg-right {
            svg {
                position: absolute;
                right: 10%;
                left: auto;
                margin-top: -12vh;
                transform: rotate(100deg);
            }
        }
    }
    @media screen and (max-width: $break-tab) {
        .row-single-2 {
            .flex {
                flex-wrap: wrap;
                .col-50 {
                    width: 100%;
                    .flex.single-note {
                        justify-content: center;
                    }   
                }
            }
        }
    }

    @media screen and (max-width: $break-s) {
        .box-single-prod {
            .single-prod {
                padding: 0 $spacing-s;
            }
        }
    }

}