/**
 * Basic typography style for copy text
 */
body {
    font-family: $Font;
    font-size: 14px;
    letter-spacing: -0.28px;
    line-height: 23px;
    color: $col-text;
    font-weight: $Regular;
}
/// Paragraphs
.paragraph-xxl {
    font-family: $Font;
    @media screen and (max-width: $break-m) {
  
    }
}
.paragraph-m {
    font-family: $Font;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0;
    color: $col-brown;
    font-weight: $Light;
    opacity: 0.83;
    @media screen and (max-width: $break-s) {
        font-size: 17px;
        line-height: 27px;
    }
}
.paragraph-s {
    font-family: $Font;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: $col-brown;
    font-weight: $Demi;
    opacity: 0.58;
    @media screen and (max-width: $break-s) {
        font-size: 15px;
    }
}

/// Titles
.title {
    color: $col-brown;
    &-xxl {
        font-family: $Font;
        font-size: 36px;
        color: $col-brown;
        letter-spacing: 2px;
        line-height: 50px;
        font-weight: $Bold;
        text-transform: uppercase;
        @media screen and (max-width: $break-s) {
            font-size: 26px;
            line-height: 40px;
        }
        &-white {
            color: #fff; 
        }
        @media screen and (max-width: $break-m) {
      
        }
    }
    &-xl {
        font-family: $Font;
        font-size: 30px;
        letter-spacing: 0px;
        line-height: 50px;
        font-weight: $Bold;
        color: $col-brown;
        p {
            @extend .title-xl;
        }
        @media screen and (max-width: $break-s) {
            font-size: 26px;
            line-height: 40px;
        }
    }
    &-l {
        font-family: $Font;
        font-size: 21px;
        letter-spacing: 0px;
        line-height: 30px;
        font-weight: $Regular;
        color: $col-brown;
        @media screen and (max-width: $break-s) {
        }
        @media screen and (max-width: $break-s) {
            font-weight: $Regular;
            font-size: 17px;
            line-height: 26px;
        }
    }
    &-m {
        font-family: $Font;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 30px;
        font-weight: $Regular;
        color: $col-brown;
        font-weight: $Bold;
        text-transform: uppercase;
        &-bold {
            font-weight: $Bold;
        }
        @media screen and (max-width: $break-m) {
            font-size: 18px;
            line-height: 24px;
        }
    }
    &-s {
        font-family: $Font;
        font-size: 17px;
        letter-spacing: 0px;
        line-height: 30px;
        color: $col-brown;
        @media screen and (max-width: $break-m) {
            font-size: 18px;
            line-height: 28px;
        }
    }
    &-xs {
        font-family: $Font;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 26px;
        font-weight: $Regular;
        color: $col-brown;
        @media screen and (max-width: $break-m) {
        }
    }

}


body,
p,
li {
    @extend .paragraph-m;
  
}
body {
    margin: 0;
}
li {
    margin: 0;
}
ul,
ol {
    padding-left: 20px;
}
b,
strong {
    font-weight: $Bold;
}
a {
 //   color: theme('colors.gold.default');
    font-family: $Font;
    text-decoration: inherit;
    text-decoration: inherit;
    cursor: pointer;
    transition: .5s color, .5s opacity;
    &:hover {
        color: $col-text;
    }
}
p a {
    border-bottom: 1px solid;
}

blockquote, blockquote p {
    font-weight: $Light;
    font-style: italic;
    font-size: 20px;
    line-height: 24px;
    color: $text-color;
    letter-spacing: 0;
}

h1 { @extend .title-xxl; }
h2 { @extend .title-l; }
h3 { @extend .title-l; }
h4 { @extend .title-m; }
h5 { @extend .title-m; }


::selection, ::-moz-selection {
    // color: $selection-color;
}

hr {
    box-shadow: none;
    border: none;
    height: 1px;
}

.btn {
    &-big {
        font-family: $Font;
        font-size: 21px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 40px;
        padding: 10px 20px;
        transition: .3s;
        border-radius: $radius;
        &:hover {
        }
        @media screen and (max-width: $break-s) {
            padding: 8px 2px;
            font-size: 15px;
        }
    }
    &-small {
        font-family: $Font;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 30px;
        padding: 10px 20px;
        transition: .3s;
        border-radius: $radius;
        &:hover {
        }
    }
}

.font-menu {
    font-family: $Font;
    font-weight: $Semibold;
    font-size: 17px;
    line-height: 50px;
    color: $col-brown;
    letter-spacing: 0;
    text-transform: uppercase;
}